# Obtendo dados do site MaisTocadas anualmente

Neste notebook, vamos buscar as listas de músicas mais tocadas nas rádios anualmente de 1980 a 2016.

In [10]:
import requests
import bs4
from bs4 import BeautifulSoup
import pandas as pd
from pandas import ExcelWriter
import xlsxwriter

In [2]:
url = 'https://maistocadas.mus.br/'
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/42.0.2311.135 Safari/537.36 Edge/12.246'
}

In [3]:
musicas_populares = []

for ano in range(1980, 2017):
    r = requests.get(url + str(ano), {'headers': headers})
    soup = bs4.BeautifulSoup(r.content, 'html.parser')
    print ano

    posicao = 1
    for li in soup.find('ol'):
        faixa = li.find('span', {'class': 'musicas'}).get_text(strip=True).encode('utf-8') #.text[1:].encode('utf-8'),
        artista = li.find('span', {'class': 'artista'}).get_text(strip=True).encode('utf-8') #.text[1:].encode('utf-8')
        
        musicas_populares.append({
            'posicao': posicao,
            'musica': faixa,
            'artista': artista,
            'ano': ano
        })
        posicao += 1

1980
1981
1982
1983
1984
1985
1986
1987
1988
1989
1990
1991
1992
1993
1994
1995
1996
1997
1998
1999
2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016

In [8]:
df = pd.DataFrame(musicas_populares, columns=['posicao', 'musica', 'artista', 'ano'])
df.head(5)

   posicao                          musica        artista   ano
0        1                         Balancê      Gal Costa  1980
1        2       Another Brick In The Wall     Pink Floyd  1980
2        3  Crazy Little Thing Called Love          Queen  1980
3        4                        Momentos         Joanna  1980
4        5                   Menino do Rio  Baby Consuelo  1980

In [ ]:
writer = pd.ExcelWriter('file.xls', encoding='utf-8')
df.to_excel(writer,'Sheet1',index=False)
writer.save()